.table-container{
    width: 100%;
    height: 100%;
    overflow: auto;
    // padding: 1vw;
    // table,th,td{
    //     border: 1px solid greenyellow;
    //     border-collapse: collapse;
    //     text-align: center;
    // }
}
